#===============================================================
# Configuration file for pre-bill scenarios.
#
# READ IT FULLY AND UNDERSTAND ALL THE PARAMETERS BEFORE STARTING
# EXECUTION.
#
#===============================================================

$TRIAL_INPUT_DIR = "/brmapp/portal/7.5/apps/pin_trial_bill/";
$TRIAL_OUT_DIR = "/brmapp/portal/7.5/2d/apps/td_prebill_process/logs/";
$BIP_INPUT_DIR = "/brmapp/portal/7.5/apps/pin_inv_doc_gen/";
$TRIAL_FILE_PREFIX = "trial_bill_input_";
$DOCGEN_FILE_PREFIX = "docgen_file_input_";
$DOCGEN_FILE_SUFFIX = ".xml";
